<% layout('layouts/boilerplate')%>
<script src="./js/friends.js"></script>

<h2 class="text-center mb-4"> Search for a Friend</h2>
<div id="custom-search-input">
    <div class="justify-content-center"> <!-- removed input-group-->
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <ul id="myUL">
        <% for (let stranger of data.strangers){%>   
             <form class="container" method="GET" action="/addFriendList/<%=stranger.name%>" >
                <li class="row mb-2">
                  <a class="col-10" href="#"><%=stranger.name%></a>
                  <input type="submit" class="btn btn-success col-2" value="Add Friend">
                </li>
            </form>
        <% } %>
        </ul>
    </div>
</div>

<div class="justify-content-center d-flex mt-5">
    <a href="/friends"><button type="button" class="btn btn-danger btn-sm">Cancel</button></a>
</div>