<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="d-flex justify-content-center pb-3">
        <h1><u>Add Item</u></h1>
    </div>
    <form>
        <div class="form-group">
        <label for="exampleFormControlInput1">Name:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Item name">
        </div>
        
        <div class="form-group mt-3">
        <label for="exampleFormControlTextarea1">Description:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form-group mt-3">
            <label for="exampleFormControlInput1">Price:</label>
            <input type="price" class="form-control" id="exampleFormControlInput1" placeholder="USD">
        </div>

        <div class="form-group mt-3">
            <label for="exampleFormControlInput1">Link:</label>
            <input type="link" class="form-control" id="exampleFormControlInput1" placeholder="Link to item">
        </div>
    </form>

    <div class="justify-content-center btn-toolbar mt-5">
        <a href="/profile"><button type="button" class="btn btn-danger btn-sm mr-5">Cancel</button></a>
        <a href="/addWishlistItemDummy"><button type="button" class="btn btn-success btn-sm">Add</button></a>
    </div>
</div>