<% layout('layouts/boilerplate')%>
<div class="container" style="background-color: #EDE1D4;">
    <div class="d-flex justify-content-center pb-3">
        <h1 style="color: #3C1518"><u>Add Item</u></h1>
    </div>
    <form method="get" action="/addMyItem">
        <div class="form-group">
        <label for="exampleFormControlInput1">Name:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Item name" name="name">
        </div>
        
        <div class="form-group mt-3">
        <label for="exampleFormControlTextarea1">Description:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Item name" name="description">
        </div>

        <div class="form-group mt-3">
            <label for="exampleFormControlInput1">Price:</label>
            <input type="price" class="form-control" id="exampleFormControlInput1" placeholder="USD" name="price">
        </div>

        <div class="form-group mt-3">
            <label for="exampleFormControlInput1">Link:</label>
            <input type="link" class="form-control" id="exampleFormControlInput1" placeholder="Link to item" name="link">
        </div>

        <div class="justify-content-center btn-toolbar mt-5">
            <a href="/profile"><button type="button" class="btn btn-danger btn-sm mr-5">Cancel</button></a>
            <input type="submit" class="btn btn-success btn-sm">
        </div>
      </form>

</div>