<% layout('layouts/boilerplate')%>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
	
	<div class="container">
		<div class="d-flex justify-content-between">
			<h2 class="mb-4"><u>Dates</u></h2>
			<a href="/addDate"><button type="button" class="btn btn-success btn-sm">Add Date</button></a>
		  </div>
		<div class="row row-striped">
			<div class="col-md-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
				<h2>OCT</h2>
			</div>
			<div class="col-md-10">
				<h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>      
		</div>
		<div class="row row-striped">
			<div class="col-md-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
				<h2>OCT</h2>
			</div>
			<div class="col-md-10">
				<h3 class="text-uppercase"><strong>Operations Meeting</strong></h3>

				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	