<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="d-flex justify-content-center pb-3">
        <h1><u>Friends</u></h1>
    </div>
    <div class="mb-4">
        <p class="underline friend-text">A</p>
        <ul class="list-group list-group-flush">
            <li><a href="/userProfile">Amanda Kim</a></li>
            <li><a href="/userProfile">Andrew Jackson</a></li>
        </ul>
    </div>
    <div class="mb-4">
        <p class="underline friend-text">B</p>
        <ul class="list-group list-group-flush">
            <li><a href="/userProfile">Brian Nguyen</a></li>
        </ul>
    </div>
    <div class="mb-4">
        <p class="underline friend-text">M</p>
        <ul class="list-group list-group-flush">
            <li><a href="/userProfile">Mary Nguyen</a></li>
            <li><a href="/userProfile">Minhtrang Chu</a></li>
        </ul>
    </div>
    <div class="mb-4">
        <p class="underline friend-text">P</p>
        <ul class="list-group list-group-flush">
            <li><a href="/userProfile">Paul Su</a></li>
            <li><a href="/userProfile">Paul Woo</a></li>
        </ul>
    </div>
    <div class="d-flex justify-content-center">
       <a href="/addFriend"><button type="button" class="btn btn-secondary btn-sm">Add Friend</button></a>
    </div>
</div>