<% layout('layouts/boilerplate')%>

<div class="container">
<div class="panel-group" id="accordion">
    <div class="faqHeader">General questions</div>
    <% for (let info of help.helps) { %>
    <div class="panel panel-default pb-3">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#<%= info.id %>"> <%= info.title %></a>
            </h4>
        </div>
        <div id="<%= info.id %>" class="panel-collapse collapse">
            <div class="panel-body">
                    <%= info.description %>
            </div>
        </div>
    </div>
    <% } %>
</div>
</div>

<style>
.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
</style>