<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishful Thinking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="../data.json"></script>
    <script src="./js/facebook.js"></script>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body class="d-flex text-white" style="background-color: #9DC183;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <nav class="navbar sticky-top navbar-expand-lg">
                    <div class="container-fluid">
                        <a style="color: #3C1518" class="navbar-brand" href="#"><b>Wishful Thinking</b></a>
                    </div>
                </nav>
                <div class="main signin">
                  <p class="sign" align="center">Sign in</p>
                  <form class="form1">
                    <input class="un " type="text" align="center" placeholder="Username">
                    <input class="pass" type="password" align="center" placeholder="Password">
                    <a class="submit mb-3" align="center" href="/profile">Sign in</a>
                </form>
                <div class="mt-4" align="center" >
                    <fb:login-button  scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                </div>
                </div>
        </header> 
<div id="status">
</div>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>