<% layout('layouts/boilerplate')%>
<div class="container">
    <img class="mx-auto d-block mb-1" src="https://i.imgur.com/PjRChlT.png" alt="profile picture">
    <div class="text-center mb-4">
        <p class="mb-1">Amanda Kim</p>
        <p>Birthday: 12/8</p>
    </div>
    <div class="mb-5">
        <div>
            <p>Wishlist</p>
        </div>
        <div class="text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/itemDetails">Valorant battle pass</a></li>
                <li class="list-group-item"><a href="/itemDetails">Glitchpop 2.0 skin bundle</a></li>
              </ul>
        </div>
    </div>
</div>